/*
    font-family: 'Kaushan Script', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Slab', serif;
*/

$font-kaushan: 'Kaushan Script', cursive;
$font-merri: 'Merriweather', serif;
$font-mont: 'Montserrat', sans-serif;
$font-roboto: 'Roboto Slab', serif;

.contenedor{
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: $bp-large){
        max-width: 72rem;
    }
    @media only screen and (max-width: $bp-medium){
        max-width: 54rem;
    }
    @media only screen and (max-width: $bp-small){
        padding: 0 2rem;
    }
}

.text-center{
    text-align: center;
}

.text-white{
    color: white;
}
.text-italic{
    font-style: italic;
}

.btn{
    font-size: 1.8rem;
    font-family: $font-mont;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2rem 4rem;
    border-radius: .5rem;
}
.btn-amarillo{
    color: white;
    background-color: #fed136;
    transition: all .3s;
    &:hover{
        background-color: #fdc302;
        transition: all .3s;
    }
}

.titulo-n2{
    font-family: $font-mont;
    font-size: 4rem;
    text-transform: uppercase;
}
.resumen-n2{
    font-family: $font-merri;
    font-size: 1.6rem;
    color: #6c757d;
    font-style: italic;
}
.titulo-n3{
    font-family: $font-mont;
    font-size: 2.4rem;
}
.resumen-n3{
    font-family: $font-roboto;
    font-size: 1.6rem;
    color: #6c757d;
    line-height: 2.8rem;
}

.h-100{
    height: 100%;
}


.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-5{
    margin-top: 5rem;
}
.mt-6{
    margin-top: 6rem;
}
.mt-7{
    margin-top: 7rem;
}
.mt-8{
    margin-top: 8rem;
}
.mt-9{
    margin-top: 9rem;
}
.mt-10{
    margin-top: 10rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mb-4{
    margin-bottom: 4rem;
}
.mb-5{
    margin-bottom: 5rem;
}
.mb-6{
    margin-bottom: 6rem;
}
.mb-7{
    margin-bottom: 7rem;
}
.mb-8{
    margin-bottom: 8rem;
}
.mb-9{
    margin-bottom: 9rem;
}
.mb-10{
    margin-bottom: 10rem;
}
.pt-1{
    padding-top: 1rem;
}
.pt-2{
    padding-top: 2rem;
}
.pt-3{
    padding-top: 3rem;
}
.pt-4{
    padding-top: 4rem;
}
.pt-5{
    padding-top: 5rem;
}
.pt-6{
    padding-top: 6rem;
}
.pt-7{
    padding-top: 7rem;
}
.pt-8{
    padding-top: 8rem;
}
.pt-9{
    padding-top: 9rem;
}
.pt-10{
    padding-top: 10rem;
}
.pb-1{
    padding-bottom: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.pb-3{
    padding-bottom: 3rem;
}
.pb-4{
    padding-bottom: 4rem;
}
.pb-5{
    padding-bottom: 5rem;
}
.pb-6{
    padding-bottom: 6rem;
}
.pb-7{
    padding-bottom: 7rem;
}
.pb-8{
    padding-bottom: 8rem;
}
.pb-9{
    padding-bottom: 9rem;
}
.pb-10{
    padding-bottom: 10rem;
}