.footer{
    &__informacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $bp-large){
            gap: 2rem;
            flex-direction: column;
            
        }
        &__items{
            
            p{
                font-size: 1.5rem;
                font-family: $font-mont;
            }
            &--icons{
                i{
                    margin: 0 1rem;
                    color: #fff;
                    text-align: center;
                    width: 2rem;
                    height: 2rem;
                    background-color: #000;
                    border: .8rem solid #000;
                    border-radius: 50%;
                    font-size: 1.6rem;
                }
            }
            a{
                margin: 0 1rem;
                font-family: $font-mont;
                font-size: 1.5rem;
            }
        }
    }
}