.header{
    background-image: url(../img/header-bg.jpg);
    // height: calc(100vh - 9rem);
    // height: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    &__contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        &--subtitulo{
            font-family: $font-merri;
            font-size: 3.5rem;
            font-style: italic;
            @media only screen and (max-width: $bp-medium){
                font-size: 2.4rem;
            }
        }
        &--titulo{
            font-family: $font-mont;
            font-size: 7.5rem;
            text-transform: uppercase;
            font-weight: 600;
            @media only screen and (max-width: $bp-medium){
                font-size: 5.2rem;
            }
        }
    }
}