.nav{
    padding: 2.5rem 0;
    position: fixed;
    width: 100%;
    transition: all .3s;
    z-index: 1;
    @media only screen and (max-width: $bp-large){
        background-color: #212529;
        padding: 1rem 0;
    }
    &__contenedor{ // & == .nav
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--logo{
            color: #fec503;
            font-size: 2.8rem;
            font-family: $font-kaushan;
            transition: all .3s;
            @media only screen and (max-width: $bp-large){
                font-size: 2rem;
                z-index: 1;
            }
        }
        &__menu{
            display: flex;
            @media only screen and (max-width: $bp-large){
                position: absolute;
                background-color: rgba(black, .9);
                top: 0;
                left: -100%;
                width: 100%;
                height: 100vh;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 2rem;
                transition: all .3s;
                &.mostrarMenu{
                    left: 0;
                    transition: all .3s;
                }
            }
            &__item{
                &--link{
                    color: white;
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    font-family: $font-mont;
                    padding: 1rem 1.5rem;
                    transition: all .3s;
                    &:hover{
                        color: #fec503;
                        transition: all .3s;
                    }
                    @media only screen and (max-width: $bp-large){
                        font-size: 2.4rem;
                    }
                }
            }
        }
        &--btn{
            font-family: $font-mont;
            font-size: 1.2rem;
            color: rgba(white, .6);
            text-transform: uppercase;
            border: .1rem solid rgba(white, .6);
            padding: 1rem;
            border-radius: .5rem;
            display: none;
            z-index: 1;
            @media only screen and (max-width: $bp-large){
                display: block;
            }
        }
    }
    &.cambioNav{
        background-color: #212529;
        padding: 1rem 0;
        transition: all .3s;

        & .nav__contenedor--logo{
            font-size: 2rem;
            transition: all .3s;
        }
    }
}


